name: lks automobile Vehicle flow management app
description: Workshop App for Lorry & Heavy Machines
publish_to: 'none'
version: 1.0.0+1
environment:
sdk: '>=2.18.0 <4.0.0'


dependencies:
flutter:
sdk: flutter
cupertino_icons: ^1.0.2
supabase_flutter: ^1.0.0
http: ^0.13.6
image_picker: ^0.8.7+4
path_provider: ^2.0.14
flutter_dotenv: ^5.0.2


dev_dependencies:
flutter_test:
sdk: flutter
flutter_lints: ^2.0.0
